%h1 Participants by Challenge

%ul
  - @challenges.each do |challenge|
    %li
      = link_to "Participants: #{challenge.current_participants.count}", challenge_participants_path(challenge)
      %p Question: #{challenge.question}