%h1 Mission Statistics

%ul
  - @missions.each do |mission|
    %div(class='mission_stats')
      = link_to mission.title, mission_path(mission)
      %ul
        %li Current Participants: #{mission.participants.where("warning_accepted = ? ", true).count}
        - (0..7).each do |num_completed|
          = render 'challenges_completed', :participants => mission.current_participants, :num_completed => num_completed